@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('../fonts/CinzelDecorative-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('../fonts/CinzelDecorative-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel Decorative';
    src: url('./fonts/CinzelDecorative-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
